---
version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "09:00"
      timezone: "Europe/Oslo"
    open-pull-requests-limit: 5
    reviewers:
      - nrkno/iac-admins
